<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="{{ _target.context.jsFile }}"></script>
    <title>{{ _target.title }}</title>
</head>
<body>
    <div class="wrapper">
        {{{ yield }}}
    </div>
    <script src="{{ _target.context.jsFile }}"></script>
</body>
<style type="text/css">
.wrapper {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    justify-content: center;
    margin-top: 50px;
}
</style>
</html>
